/website/.DS_Store
/website/node_modules
/dist


# local env files
/website/.env.local
/website/.env.*.local

# Log files
/website/npm-debug.log*
/website/yarn-debug.log*
/website/yarn-error.log*
/website/pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/website/yarn.lock